langchain-groq
python-dotenv
rank-bm25
streamlit
yt-dlp>=2024.12.06
webvtt-py
faster-whisper
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
faiss-cpu
sentence-transformers
torch
youtube-transcript-api
pathlib
urllib3
